
	
	<body>
		

		<div id="wrapper">
			
			<div id="header" class="content-block">
				<!-- <section class="top clearfix">
					<div class="pull-left">
						<h1><a class="logo" href="index.html">Nevada <span class="logo-head">Plus</span></a></h1>
					</div>
					<! <div class="pull-right">
						<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
					</div> 
				</section>-->
				<section class="center">
					<div class="slogan">
						SLIM &amp; STYLISH
					</div>
					<div class="secondary-slogan">
						The Nevada plus Theme By ThemeWagon.
					</div>
				</section>
			</div><!-- header -->
			
			

	</body>
